@import "../../../scss/theme/variables.scss";
@import "../../../scss/theme/mixins.scss";

.jumbotron-event-01 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.8)
    ),
    url("/static/content/news-02.jpg");

  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  .goals {
    h3 {
      font-family: "Oswald-Bold";
      font-size: 18px;
      font-weight: bold;
      line-height: 1.78;
      color: $secondary;
      margin-bottom: 15px;
    }
  }
  .place {
    padding-bottom: 20px;
    border-bottom: 1px solid $grey-3;
  }
  .date {
    &:after {
      content: "";
      width: 50px;
      height: 1px;
      background-color: $primary;
      margin-top: 20px;
    }
  }
  .goals {
    h3 {
      font-family: "Oswald-Bold";
      font-size: 18px;
      font-weight: bold;
      line-height: 1.78;
      color: $secondary;
      margin-bottom: 15px;
    }
  }
}
