@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.news-01 {
  border: solid 1px $grey-8;
  background-color: $white;
  transition: 0.4s;
  max-width: 480px;
  &:hover {
    background-color: $primary;
    .card-title,
    .card-date,
    .card-text,
    .link,
    .label-group-text {
      color: $white;
    }
    .link {
      text-decoration: underline;
    }
    .badge {
      background-color: $white;
      color: $primary;
    }
  }
  .link {
    margin-bottom: 25px;
  }
}
