@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.news-01 {
  border: solid 1px $grey-8;
  background-color: $white;
  transition: 0.4s;
  .card-body {
    padding: 40px 50px;
  }
  &:hover {
    background-color: $primary;
    border: solid 1px $primary;
    .card-title,
    .card-date,
    .card-text,
    .link,
    .label-group-text {
      color: $white;
    }
    .badge a {
      color: $primary;
    }
    .link {
      text-decoration: underline;
    }
    .badge {
      background-color: $white;
      color: $primary;
    }
  }
  .link {
    margin-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .news-01 {
    .card-text {
     display: none;
    }
  }
}




@media (max-width: 992px) {
  .news-01 {
    .card-body {
      padding: 1.25rem;
    }
    .card-title {
      font-size: 22px;
    }
    .card-text {
      font-size: 13px;
    }
  }
}
