@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.featured-01 {
  background: url("/assets/featured-01.jpg") center no-repeat;
  background-size: cover;
  height: 380px;
  border-bottom: 6px solid $primary;
  > a {
    height: 100%;
  }

  h3 {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .card-body {
    height: 100%;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-title,
  .link {
    color: $white;
  }

  &:hover {
    background: $primary;
  }
}

@media (max-width: 576px) {
  .featured-01 {
    height: 200px; 
  }
}

@media (max-width: 992px) {
  .featured-01 {
    height: 300px; 
    .card-body {
      padding: 1.25rem;
    }
    .card-title {
      font-size: 22px;
    }
  }
}
