@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.btn-un {
  outline: none;
  @include items-center;
  font-family: "Roboto";
  background-color: transparent;
  width: 190px;
  height: 50px;
  transition: 0.4s;
  font-size: 14px;
  font-weight: 500;
  border-radius: 1px;

  &.btn-primary {
    background-color: $white;
    border: 1px solid $primary;
    color: $primary;
    &:hover {
      border: solid 1px $primary;
      background-color: $primary;
      color: $white;
    }
  }
  &.btn-transparent {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    &::after {
      content: "";
      background: url("../../../assets/images/arrow-down-white.svg") no-repeat center;
      background-origin: content-box;
      background-position: center right;
      background-size: 22px 18px;
      width: 22px;
      height: 18px;
    }
  }
}
