@import "../../../scss/theme/variables.scss";
@import "../../../scss/theme/mixins.scss";

.notfound {
  height: 600px;
  h1,
  h3 {
    color: $white;
  }
  h1 {
    margin-bottom: 16px;
    span {
      background-color: $primary;
      display: inline-block;
      margin-top: 5px;
      padding: 2px 6px;
      padding-bottom: 5px;
    }
  }
  h3 {
    margin-bottom: 30px;
  }
  .btn-un {
    width: 250px;
  }
}

@media (max-width: 576px) {
  .notfound {
    h1 {
      font-size: 42px;
      line-height: 1;
    }
    .btn-un {
      width: 100%;
    }
  }
}
