@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.navbar-language {
  background-color: $white;
  &.navbar-light {
    .navbar-brand {
      font-size: 13px;
      display: flex;
      align-items: center;
      color: $secondary;
      img {
        margin-right: 10px;
      }
    }
    .nav-link {
      padding: 0;
    }
    &::after {
      content: "";
      height: 4px;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      background-color: $primary;
    }
  }
}
