@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.card-events {
  > a {
    height: 100%;
    border-radius: 3px;
    border: 1px solid $grey-8;
    &:hover {
      background-color: $primary;
      text-decoration: none;
      .event-date,
      .event-day,
      .event-title,
      .event-range,
      .event-place span,
      .label-group-text,
      .event-label,
      .event-text,
      .event-hour,.badge a {
        color: $white;
      }
      .badge, .badge a {
        color: $primary;
      }
      .separator,
      .event-label::before,
      .event-date :after, .badge {
        background-color: $white;
      }
    }
  }

  .group-date,
  .group-hour {
    position: relative;
    display: flex;
    align-items: center;
    .separator {
      width: 8px;
      margin-left: 8px;
      margin-right: 8px;
      background-color: $secondary;
    }
  }

  .event-hour {
    font-family: "Oswald-Medium";
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: $secondary;
  }

  .group-date {
    .separator {
      margin-top: 20px;
      height: 3px;
    }
  }

  .group-hour {
    .separator {
      margin-top: 0;
      height: 1px;
    }
  }

  .event-day {
    font-family: "Oswald-Bold";
    font-size: 32px;
    font-weight: bold;
    color: $secondary;
    display: block;
  }

  .event-date {
    font-size: 12px;
    color: $grey-2;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    &:after {
      content: "";
      width: 30px;
      height: 1px;
      background-color: $primary;
      margin-top: 15px;
    }
  }

  .event-text {
    margin-bottom: 20px;
    font-size: 14px;
    color: $grey-2;
  }

  .event-title {
    font-family: "Oswald-Bold";
    letter-spacing: normal;
    color: $secondary;
  }

  .event-range {
    font-size: 13px;
    color: $grey-1;
    display: block;
    margin-bottom: 40px;
  }

  .event-place {
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 500;
    color: $secondary;
    margin-bottom: 20px;
    .room {
      color: $grey-1;
      display: block;
    }
    .city {
      color: $grey-2;
      display: block;
    }
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
  }
  h4 {
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 5px;
  }

  h5 {
    font-size: 16px;
    line-height: 24px;
  }

  .event-label {
    font-family: "Roboto-Medium";
    font-size: 13px;
    font-weight: 500;
    text-align: right;
    color: $orange;
    display: flex;
    align-items: center;

    &.orange {
      color: $orange;
      &::before {
        background-color: $orange;
      }
    }
    &.blue {
      color: $blue;
      &::before {
        background-color: $blue;
      }
    }

    &.red {
      color: $red;
      &::before {
        background-color: $red;
      }
    }

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
}
