@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.heading-related {
  padding: 25px 0;
  @for $i from 1 through length($goals) {
    &.goal-#{$i} {
      h3 {
        &::before {
          background-color: nth($goals, $i);
        }
      }
    }
  }

  h3 {
    width: 405px;
    height: 32px;
    font-family: "Oswald-Bold";
    font-size: 28px;
    font-weight: bold;
    line-height: 1.14;
    display: flex;
    align-items: center;
    color: $secondary;
    &::before {
      content: "";
      width: 50px;
      height: 2px;
      background-color: $primary;
      margin-right: 17px;
    }
  }
}
