@import "../../scss/theme/variables.scss";
@import "../../scss/theme/mixins.scss";

.button {
  outline: none;
  cursor: pointer;
  @include items-center;
  font-family: "Roboto";
  background-color: transparent;

  &.button-burger {
    width: 35px;
    height: 25px;
    position: relative;
    margin: 0;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    display: block;
    cursor: pointer;
    display: none;
    &.primary {
      span {
        background-color: $primary;
      }
     
    }
    &.secondary {
      span {
        background-color: $secondary;
      }
    }
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }
  }
  &.button-burger span:nth-child(3) {
    top: 15px;
  }

  &.button-burger span:nth-child(1) {
    top: 0px;
  }

  &.button-burger span:nth-child(2),
  &.button-burger span:nth-child(3) {
    top: 10px;
  }

  &.button-burger span:nth-child(4) {
    top: 21px;
  }

  &.button-burger.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
  }

  &.button-burger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &.button-burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &.button-burger.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
  }

  &.button-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $grey-2;
    position: relative;
    .svg {
      path {
        fill: $grey-2;
      }
    }
    &:hover {
      border: 1px solid $primary;
    }
  }

  &.button-primary {
    width: 190px;
    height: 50px;
    border-radius: 1px;
    background-color: $white;
    border: 1px solid $primary;
    transition: .4s;
    padding: 15px 50px;
    font-size: 14px;
    font-weight: 500;
    color: $primary;
    &:hover {
      border: solid 1px $primary;
      background-color: $primary;
      color: $white;
    }
  }
  &.button-secondary {

  }
}

@media screen and (max-width: 760px) {
  .button {
    &.button-burger {
      display: block;
    }
  }
}
