@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.jumbotron-event-02 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../../../assets/news-02.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  h1 {
    margin-bottom: 20px;
  }
}
