@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.jumbotron-event-03 {
  background-color: $grey-4;
  position: relative;
  .event-logo {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 280px;
  }
}

@media (max-width: 576px) {
  .jumbotron-event-03 {
    .event-logo {
      width: 100%;
      position: relative;
      padding: 15px;
      bottom: 0;
      margin-top: 40px;
      right: 0;
    }
  }
}
