@import "../../scss/theme/variables.scss";
@import "../../scss/theme/mixins.scss";

.header__banner {
    background-color: $white;
    padding-top: 70px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .actions {
      display: flex;
      justify-content: center;
      button:not(:last-child) {
        margin-right: 10px;
      }
    }
  }