@import "../../../scss/theme/variables.scss";
@import "../../../scss/theme/mixins.scss";
.mega-menu {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  max-width: 255px;

  .mega-menu-item:not(:last-child):not(.important-item) {
    margin-bottom: 12px;
  }

  a {
    max-width: 100%;
  }

  .important {
    border: 1px solid $grey-6;
    background-color: $white;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    &__content {
      padding: 20px;
    }
    .title {
      font-family: "Oswald-Bold";
      font-size: 16px;
      font-weight: bold;
      color: $secondary;
      margin-bottom: 15px;
    }
    .description {
      font-size: 12px;
      color: $grey-7;
    }
  }

  .mega-menu-item:not(.important) {
    &::before {
      @include triangle-right;
    }
  }

  .mega-menu-item {
    color: $secondary;
    display: flex;
    align-items: center;
    a {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 992px) {
  .mega-menu {
    flex-direction: column;
    margin-right: 0;
    max-width: 100%;
    border-bottom: 1px solid $grey-6;
    padding: 15px 20px;


    .mega-menu-item {
      &::before {
        @include triangle-right;
      }
    }
    .mega-menu-item:not(:last-child) {
      margin-bottom: 25px;
    }
    .important {
      background-color: transparent;
      border: none;
      margin-bottom: 25px;
      flex-direction: row;
      &__content {
        padding: 0;
      }
      img {
        display: none;
      }
      .description {
        display: none;
      }
      .title {
        font-family: "Roboto-Bold";
        margin-bottom: 0;
      }
    }
  }
}
