@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.news-05 {
  max-width: 360px;
  border-top: 1px solid $grey-8;
  border-bottom: 1px solid $grey-8;
  padding: 20px 0;
  .card-img-top {
    border-right: 4px solid $primary;
    max-width: 82px;
  }
  .card-body {
    padding: 0 1.25rem;
  }
  &:hover {
    .card-title {
      color: $primary;
    }
  }
}
