@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.goals-banner {
  font-family: "Oswald";
  padding: 13px 0 30px;
  position: relative;
  &.green {
    background: 
    linear-gradient(90deg, $goal-03 68%, rgba(76,161,70,0.6082808123249299) 100%),
    url('../../../assets/goal-02.jpg');
    background-repeat: no-repeat;
    background-position: center right;
  }
  &.orange {
    background-color: $goal-02;
    background: 
    linear-gradient(90deg, $goal-02 68%, rgba(221,167,58,0.6082808123249299) 100%),
    url('../../../assets/goal-02.jpg');
    background-repeat: no-repeat;
    background-position: center right;
  }
  .goals-link {
    font-size: 15px;
    color: $white;
    letter-spacing: 0.5px;
    border-bottom: 1px solid $white;
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
  }
  .goal-number {
    opacity: 0.3;
    font-size: 60px;
    font-family: "Oswald-Bold";
    line-height: 0.98;
    color: $white;
    margin-bottom: 10px;
  }
  h1 {
    font-family: "Oswald-Bold";
    font-size: 60px;
    font-weight: bold;
    line-height: 0.98;
    color: $white;
    margin-bottom: 50px;
    position: relative;
    &::after {
      content: "";
      height: 1px;
      position: absolute;
      width: 100%;
      bottom: -30px;
      left: 0;
      background-color: $white;
      width: 50px;
    }
  }
  .lead {
    font-family: "Oswald-Bold";
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    color: $white;
    margin-bottom: 90px;
  }
  .goal-logo {
    position: absolute;
    right: 30px;
    bottom: 35px;
    width: 80px;
  }
  .btn-outline-light {
    font-size: 13px;
    border-radius: 13.5px;
    &.left {
      margin-right: 7px;
      &::before {
        content: "";
        background: url("../../../assets/images/arrow-right.svg") center no-repeat;
        background-origin: content-box;
        background-position: center right;
        width: 17px;
        height: 14px;
        background-size: contain;
        margin-right: 5px;
        transform: rotate(-180deg);
      }
    }
    &.right {
      &::after {
        content: "";
        background: url("../../../assets/images/arrow-right.svg") center no-repeat;
        background-origin: content-box;
        background-position: center right;
        width: 17px;
        height: 14px;
        background-size: contain;
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 992px) {
  .goals-banner {
      &.green {
        background: $goal-03;
      }
      &.orange {
        background: $goal-02;
      }
    .goal-logo {
        position: absolute;
        right: 30px;
        top: 13px;
        width: 80px;
      }

  }
}
