@import "../../scss/theme/variables.scss";
@import "../../scss/theme/mixins.scss";

.label-numeric {
    padding: 4px 10px;
    border-radius: 6px;
    border: solid 1px $grey-8;
    background-color: rgba(242, 242, 242, 0.11);
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
    color: $grey-2;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover, &:active {
        border: 1px solid $grey-5;
        color: $grey-5;
    }
}