@import "../../scss/theme/variables.scss";
@import "../../scss/theme/mixins.scss";

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    width: 207px;
    border-radius: 3px;
    padding: 15px;
    border: 1px solid $grey-8;
    background-color: rgba(242, 242, 242, 0.11);
    background: url('../../assets/icons/arrow-down.svg') center right no-repeat;
    background-size: 17px 17px;
    background-origin: content-box;
    &:focus {
        border: 1px solid $primary;
    }
}

@media screen and (max-width: 760px) {
  .select {
    width: 100%;
  }
}
