@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.event-06 {
  .event-date {
    margin-bottom: 0px;
    &::after {
      content: none;
    }
  }
  .card-body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .group-date {
    margin-bottom: 20px;
  }
  .event-date {
    font-family: "Oswald-Bold";
    font-size: 20px;
    line-height: 1.6;
    color: $secondary;
  }
  .group-date {
    .separator {
      margin-top: 0;
      height: 1px;
    }
  }
}
