@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.header-banner {
  background-color: $white;
  padding-top: 70px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.header-form {
    form {
      .form-control {
        border: 1px solid #dddddd;
        border-radius: 3px 0 0 3px;
        font-family: "Roboto";
        font-size: 14px;
        &::-webkit-input-placeholder {
          @include input-form-placeholder;
        }
        &:-ms-input-placeholder {
          @include input-form-placeholder;
        }
        &::placeholder {
          @include input-form-placeholder;
        }
      }
      .btn {
        border: 1px solid $primary;
        border-radius: 0px 3px 3px 0px;
        background-color: transparent;
        text-transform: uppercase;
        font-size: 12px;
        font-family: "Roboto-Bold";
        letter-spacing: 1px;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    button:not(:last-child) {
      margin-right: 10px;
    }
  }
}
