@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.header-banner {
  background-color: $white;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.header-form {
    // form {
    //   .form-control {
    //     border: 1px solid #dddddd;
    //     border-radius: 3px 0 0 3px;
    //     font-family: "Roboto";
    //     font-size: 14px;
    //     &::-webkit-input-placeholder {
    //       @include input-form-placeholder;
    //     }
    //     &:-ms-input-placeholder {
    //       @include input-form-placeholder;
    //     }
    //     &::placeholder {
    //       @include input-form-placeholder;
    //     }
    //   }
    //   .btn {
    //     border: 1px solid $primary;
    //     border-radius: 0px 3px 3px 0px;
    //     background-color: transparent;
    //     text-transform: uppercase;
    //     font-size: 12px;
    //     font-family: "Roboto-Bold";
    //     letter-spacing: 1px;
    //   }
    // }
    form {
      display: flex;
      input[type="search"] {
        border-radius: 0;
        border: none;
        background-color: $grey-4;
        padding: 12px 14px;
        height: 40px;
        font-size: 13px;
        background-clip: unset;
        outline: none;
        &:focus {
          box-shadow: none;
        }
        &::-webkit-input-placeholder {
          /* Edge */
          @include input-placeholder;
        }
        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          @include input-placeholder;
        }
        &::placeholder {
          @include input-placeholder;
        }
      }
      button {
        width: 40px;
        background-color: $primary;
        border-radius: 0px;
        outline: none;
        box-shadow: none !important;
        &:focus,
        &.active {
          box-shadow: none;
        }
      }
    }
  }

  .header-title {
    font-size: 23px;
    font-family: "RobotoCondensed-Bold";
    color: $grey-1;
    margin-left: 16px;
    margin-bottom: 0;
    span {
      display: block;
      font-family: "RobotoCondensed";
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    button:not(:last-child) {
      margin-right: 10px;
    }
  }
}


@media (max-width: 768px) {
  .header-banner {
    .header-title {
      font-size: 20px;
      text-align: center;
    }
  }
}