@import "../../../scss/theme/variables.scss";
@import "../../../scss/theme/mixins.scss";

.badge {
  font-family: "Oswald-Bold";
  font-size: 13px;
  font-weight: bold;
  border-radius: 2px;
  width: 24px;

  @for $i from 1 through length($goals) {
    &.goal-#{$i} {
      background-color: nth($goals, $i);
    }
  }
}
