@import "./variables.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald-Bold";
}

p {
  font-size: 14px;
}

li, p {
  color: $grey-1;
}

.heading-border {
  padding-bottom: 12px;
  border-bottom: 1px solid $grey-2;
}

.italic {
  font-style: italic;
}

.media-content {
  display: flex;
  border-top: 1px solid $grey-8;
  padding-top: 30px;
  .media-item:not(:last-child) {
    margin-right: 30px;
  }
  .media-item {
    max-width: 240px;
    img {
      width: 100%;
      margin-bottom: 15px;
      max-height: 160px;
    }
  }
}

.content-list {
  list-style: disc;
  padding-left: 15px;
  &.links {
    color: $primary;
  }
  li {
    margin-bottom: 16px;
  }
}

.page-title {
  margin-top: 15px;
  text-decoration: underline;
  font-size: 15px;
  margin-bottom: 60px;
}

.separator-bottom {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  &:after {
    content: "";
    width: 50px;
    height: 0.9px;
    background-color: $primary;
    margin-top: 20px;
  }
}

.separator-top {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  &:before {
    content: "";
    width: 50px;
    height: 0.9px;
    background-color: $primary;
    margin-bottom: 40px;
  }
}

@media (max-width: 576px) {
  .news-article {
    .page-title {
      margin-bottom: 30px;
    }
  }
}
