@import "../theme/variables.scss";
@import "../theme/mixins.scss";

.heading-subtitle {
  padding: 30px 0;
  h3 {
    color: $secondary;
    margin-bottom: 0;
  }
  &.border {
    border-bottom: 1px solid $grey-8;
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .heading-subtitle {
    .content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .btn-un {
      width: 100%;
      display: block;
      margin-top: 20px;
    }
  }
}
