@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.goal-register {
  &:hover {
    .card-body {
      border: 1px solid $primary;
    }
    .goal-link {
      .link {
        color: $primary;
      }
    }
  }
  .card-body {
    border: solid 1px $grey-8;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0 15px 0 0;
    height: 90px;
  }
  .goal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    height: 100%;
  }

  .goal-link {
    display: flex;
    margin-top: auto;
    .link {
      align-self: flex-end;
      margin-left: auto;
      color: $secondary;
      font-family: "Roboto-Medium";
      font-size: 14px;
    }
  }

  .goal-targets {
    display: flex;
    .target:not(:last-child) {
      margin-right: 5px;
    }
    .target {
      display: flex;
      align-items: center;
      height: 23px;
      padding: 4px 10px;
      border-radius: 6px;
      border: solid 1px $grey-8;
      background-color: rgba(242, 242, 242, 0.11);
      font-size: 12px;
      font-weight: 500;
      color: $grey-2;
    }
  }

  .goal-label {
    width: 30px;
    padding: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10px;
    height: inherit;
  }
  .goal-number {
    font-family: "Oswald-Bold";
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: $white;
  }
  .goal-title {
    font-family: "Oswald-Bold";
    font-size: 18px;
    line-height: 1.11;
    color: $grey-1;
    margin-bottom: 0;
  }

  @for $i from 1 through length($goals) {
    &.goal-#{$i} {
      .goal-label {
        background-color: nth($goals, $i);
      }
    }
  }
}
