@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";

.card-goal {
  position: relative;
  cursor: pointer;

  .goal-image {
    z-index: 1;
    width: 100%;
    position: absolute;
    height: 100%;
  }

  &:hover {
    > a {
      text-decoration: none;
    }
    .card-body {
      opacity: 1;
    }
    .goal-image,
    .goal-logo {
      z-index: -1;
    }
    .goal-logo,
    .goal-image {
      visibility: hidden;
    }
  }

  .card-body {
    padding: 20px;
    opacity: 0;
    position: relative;
    width: 100%;
    height: 100%;
    color: $white;
    // transition: opacity 0.4s linear;
  }
  .goal-logo {
    position: absolute;
    max-width: 100px;
    left: 10px;
    bottom: 10px;
    z-index: 1;
  }

  .goal-number {
    opacity: 0.28;
    font-family: "Oswald-Bold";
    font-size: 32px;
    margin-bottom: 15px;
    display: inline-block;
    line-height: 1.11;
  }

  .goal-text {
    font-family: "Roboto-Medium";
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.4);
  }

  .goal-title {
    font-family: "Oswald-Bold";
    font-size: 18px;
    line-height: 1.11;
  }

  .goal-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    > div {
      display: flex;
      flex-direction: column;
      padding-right: 0;
      padding-left: 0;
    }
    .number {
      font-family: "Oswald-Bold";
      font-size: 25px;
      display: inline-block;
      line-height: 1.1;
    }
    .feature {
      font-family: "Roboto-Medium";
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  .btn-goal {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 1px;
    border: 1px solid $white;
    color: $white;
    justify-content: center;
    font-size: 14px;
  }

  @for $i from 1 through length($goals) {
    &.goal-#{$i} {
      .card-body {
        background: nth($goals, $i);
      }
    }
  }
}

@media (min-width: 576px) {
  .card-goal {
    .modal {
      display: none !important;
    }
  }
}

@media (max-width: 576px) {
  .card-goal {
    height: 270px;

    &:hover {
      .goal-image,
      .goal-logo {
        z-index: 1;
      }
      .goal-logo,
      .goal-image {
        visibility: visible;
      }
    }

    .card-body {
      opacity: 1;
    }
    .modal-dialog {
      margin: 0;
      height: 100%;
    }
    .close {
      position: absolute;
      right: 20px;
      color: $white;
      z-index: 1;
    }
    .modal-body {
      height: 100%;
      padding: 0;
    }
  }
}
