@import "../../scss/theme/variables.scss";
@import "../../scss/theme/mixins.scss";

.footer {
  border-top: 1px solid $grey-6;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  .footer__links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .nav {
      display: flex;
      margin-right: 30px;
      .nav-item:not(:last-child) {
        margin-right: 5px;
        padding-right: 5px;
        &::after {
          content: "";
          width: 1px;
          height: 10px;
          background-color: $secondary;
          display: block;
          margin-left: 10px;
        }
      }
      .nav-item {
        display: flex;
        align-items: center;
        .nav-link {
          font-size: 13px;
          font-weight: 500;
          color: $grey-1;
          padding: 0;
          &:hover, &.active {
            color: $primary;
          }
        }
      }
    }
    &-social {
      img {
        width: 26px;
        height: 26px;
        &:hover {
          opacity: 0.7;
        }
      }
      a:not(:last-child) {
        margin-right: 6px;
      }
    }
  }
}



@media screen and (max-width: 992px) {
  .footer {
    padding-top: 32px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
    .footer__logo {
      margin-bottom: 15px;
    }
    .footer__links {
      align-items: flex-start;
      flex-direction: column;
      ul {
        margin-right: 0;
        margin-bottom: 15px;
        li:not(:last-child) {
          &::after {
            content: none;
          }
        }
      }
    }
  }
}
