@import "../../../scss/theme/variables.scss";
@import "../../../scss/theme/mixins.scss";

.tabs-button {
  .title {
    margin-bottom: 0;
    margin-right: auto;
  }
  .nav-pills {
    justify-content: flex-end;
    align-items: center;
    .nav-item:not(:last-child) {
      .nav-link {
        margin-right: 20px;
      }
    }
  }

  .nav-link {
    border-radius: 3px;
    border: 1px solid $secondary;
    color: $secondary;
    width: 120px;
    text-align: center;
    &.active, &:hover{
      border: solid 1px $primary;
      background-color: rgba(0, 173, 239, 0.03);
      color: $primary;
    }
  }

  .tab-content {
      padding-top: 40px;
  }
}

@media (max-width: 576px) {
  .tabs-button {
    .nav-pills {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .nav-item:not(:last-child) {
        .nav-link {
          margin-right: 0;
          margin-bottom: 15px;
        }
      }
      .nav-item, .nav-link {
        width: 100%;
      }
    }
    .title {
      margin-bottom: 15px;
    }
  }
}
