@import "../../scss/theme/variables.scss";
@import "../../scss/theme/mixins.scss";


.alert {
    padding: 4px 12px;
    border-radius: 3px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .close {
        padding: 0;
        position: relative;
    }
    &.alert-light {
        border: solid 1px $grey-1;
        color: $grey-1;
    }
}