@import "./bootstrap-overrides.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "../base/corrections.scss";
@import "../base/reset.scss";
@import "./fonts.scss";
@import "../components/button.scss";

body {
  font-size: 13px !important;
}

.input {
  outline: none;
}



//bootstrap variables
@import "../../../node_modules/bootstrap/scss/bootstrap";

//Button
button {
  outline: none;
  &:focus {
    outline: none;
  }
}

h2 {
  color: $secondary;
  font-family: 'Oswald-Bold';
  font-size: 45px;
  font-weight: bold;
  line-height: 59px;
  text-transform: uppercase;
  padding-right: 180px;
  border-right: 1px solid $primary;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  h2 {
    font-size: 32px;
    padding-right: 0px;
    border-right: none;
    line-height: 1.84;
  }
}
