@import "./bootstrap-overrides.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "../base/corrections.scss";
@import "../base/reset.scss";
@import "./fonts.scss";
@import "components/button.scss";
@import "components/news.scss";
@import "components/jumbotron-events.scss";
@import "components/events.scss";
@import "components/heading-block.scss";
@import "components/heading-related.scss";

body {
  font-size: 13px !important;
}

.input {
  outline: none;
}

//bootstrap variables
@import "../../../node_modules/bootstrap/scss/bootstrap";

.container-full {
  max-width: 1440px;
  margin: 0 auto;
  .row > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.container,
.container-full {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.row-spacing {
  > [class*="col-"] {
    padding-bottom: $grid-gutter-width;
  }
}

@media (max-width: 768px) {
  .row-spacing {
    > .col-xs-12,
    > .col-sm-12,
    > .col-md-12,
    > .col-lg-12,
    > .col-xl-12 {
      padding-bottom: $grid-gutter-width/2;
    }
  }
}

// @media (min-width: 576px) {
//   .container {
//     padding: 0;
//   }
// }
