//colors
$primary: #00ADEF;
$secondary: #333333;

$grey-1: #4D4D4D;
$grey-2: #9f9f9f;
$grey-3: #CECECE;
$grey-4: #F2F2F2;
$grey-5: #4D4D4D;

$grey-6: #e2e2e2;
$grey-7: #767676;
$grey-8: #d8d8d8;


$white: #FFFFFF;

//Goals
$goal-1: #E5233D;
$goal-2: #DDA73A;
$goal-3: #4CA146;
$goal-4: #13496B;
$goal-5: #EF402C;
$goal-6: #27BFE6;
$goal-7: #FBC412;
$goal-8: #A31C44;
$goal-9: #F26A2D;
$goal-10: #E01483;
$goal-11: #F89D2A;
$goal-12: #BF8D2C;
$goal-13: #407f46;
$goal-14: #1F97D4;
$goal-15: #59BA48;
$goal-16: #126A9F;
$goal-17: #13496B;

$status-1: #5fc958;
$status-2: #ffbb14;
$status-3: #f45d48;



//fonts
$main-font: "Roboto";
$secondary-font: "Oswald";


$font-family-sans-serif: "Roboto";
$font-family-sans-serif: "Roboto" ,"Oswald";     
$font-family-monospace:  "Roboto", "Oswald";
$font-family-base: $font-family-sans-serif;


$lateral-padding: 0 calc(50% - 1140px/2);
$lateral-padding-tablet: 0 30px;
$lateral-padding-mobile: 0 20px;










