//colors
$primary: #00ADEF;
$secondary: #333333;

$grey-1: #4D4D4D;
$grey-2: #9f9f9f;
$grey-3: #CECECE;
$grey-4: #F2F2F2;
$grey-5: #4D4D4D;

$grey-6: #e2e2e2;
$grey-7: #767676;


$white: #FFFFFF;


$goal-01: #E5233D;
$goal-02: #DDA73A;
$goal-03: #4CA146;
$goal-04: #C7212F;
$goal-05: #EF402C;
$goal-06: #27BFE6;
$goal-07: #FBC412;


//fonts
$main-font: "Roboto";
$secondary-font: "Oswald";


$lateral-padding: 0 calc(50% - 1140px/2);
$lateral-padding-tablet: 0 30px;
$lateral-padding-mobile: 0 20px;