@import "../../../scss/theme/variables.scss";
@import "../../../scss/theme/mixins.scss";

.form-group {
  input {
    border-radius: 3px;
    border: 1px solid $grey-8;
    background-color: rgba(242, 242, 242, 0.11);
    font-family: "Roboto";
    font-size: 14px;
    color: $grey-2;
    margin-bottom: 5px;
    outline: none;
    height: 50px;
  }
  input[type="search"] {
    background: url("/static/assets/images/search-blue.svg") center right no-repeat;
    background-size: 17px 17px;
    background-origin: content-box;
  }
}
