@import "src/scss/theme/variables.scss";
@import "src/scss/theme/mixins.scss";
.card-news {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .card-img-top {
    border-bottom: 6px solid $primary;
  }
  .card-date {
    font-family: "Roboto";
    font-size: 12px;
    color: $grey-2;
    text-transform: uppercase;
    line-height: 14px;
    display: block;
    margin-bottom: 13px;
  }
  .card-title {
    font-family: "Oswald-Bold";
    color: $secondary;
    font-weight: bold;
    &h3 {
      font-size: 28px;
      line-height: 1.14;
    }
    &h4 {
      font-size: 18px;
      line-height: 1.22;
    }
  }
  .card-text {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: normal;
    color: $grey-2;
  }
}
