@import "scss/theme/variables.scss";
@import "scss/theme/mixins.scss";

.navbar-language {
  background-color: $grey-4;
  border-bottom: 4px solid $primary;
  &.navbar {
    padding: 0px 60px;
    .navbar-brand {
      font-size: 13px;
      display: flex;
      align-items: center;
      color: $secondary;
      img {
        margin-right: 10px;
      }
    }
    .navbar-brand {
      font-size: 12px;
      padding: 8px 0;
    }
    .nav-item {
      &.active, &:hover {
        background-color: $white;
        position: relative;
        font-family: "Roboto-Bold";
        &:before {
          content:  "";
          height: 3px;
          background-color: #c5c5c5;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
      }
    }
    .nav-link {
      padding: 8px 20px;
      font-size: 12px;
      color: $secondary;
    }
    .navbar-toggler {
      outline: none;
      &.blue {
        border-color: transparent;
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,173,239, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-language {
    &.navbar {
      padding: 0;
      .navbar-brand {
        padding-left: 0.75rem;
      }
      .navbar-collapse {
        .navbar-nav {
          text-align: center;
          .nav-item {
            padding: 5px 0;
          }
        }
      }
    }
  }
}
